* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
.main{
    padding: 25px 25px;
}

.header {
    background: #ff0000;
    padding: 40px 10px;
    padding-bottom: 4px;
}

.header .upper .logo {
    float: left;
}

.header .upper .social {
    float: right;
}

div.lower ul.nav-links {
    list-style-type: none;
    float: left;
}

div.lower ul.nav-links li {
    display: inline-block;
    margin-right: 90px;
}

div.lower ul.nav-links li a {
    text-decoration: none;
    color: white;
}

div.lower ul.nav-links li:last-of-type {
    margin-right: 0;
}

.lower .search {
    float: right;
}

.lower .search label {
    color: white;
}

.clearfix {
    clear: both;
}

.main-content {
    display: flex;
}

.main-content .sidebar {
    flex-basis: 15%;
    background: #dfdfdf;
    height: 100vh;
    padding: 10px 10px;
}
.rect{
    width: 100%;
    border: 30px;
    border-color: black;
    background-color:white  ; 
    align-items: center;
    border-radius: 10%;
}

.rect h5{
    text-align: center;
    padding: 8px 0;
}

.rect .min-max {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.rect .min, .rect .max {
    padding: 0 5px;
    font-size: small;
    text-align: center;
}

.rect .min-max input {
    width: 40px;
    align-items: center;
}
.rect .butt{
    text-align: center;
    padding: 10px 0;
}
.main .rect1{
    background-color: #dfdfdf;
    width: 1100px;
    height: 200px;
    
}
.main .img{
    padding: 5px 5px;
    width: auto;
    height: auto;
}